@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 
  source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.animate-gradient {
  background-size: 300%;
  -webkit-animation: animatedgradient 12s ease infinite alternate;
  -moz-animation: animatedgradient 12s ease infinite alternate;
  animation: animatedgradient 12s ease infinite alternate;
}

@keyframes animatedgradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}